
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

body {
  animation: fadeIn 2s ease-in-out;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f8f8f8;
  color: #333;
  padding: 0;
  margin: 0 auto;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0;
}



header {
  background-color: #333;
  color: #fff;
  padding: 20px 0;
  animation: fadeIn 1s ease-in-out;
}

.logo h1 {
  font-size: 34px;
}

nav ul {
  list-style: none;
  text-aling: center;
}

nav ul li {
  display: inline-block;
  margin-right: 20px;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
  font-weight: bold;
  font-size: 18px;
}

nav ul li a:hover {
  color: #ff6600;
}

#hero {
  background-image: linear-gradient(to right, #333333,
#666666);
  color: #fff;
  text-align: center;
  padding: 100px 0;
  animation: fadeIn 1s ease-in-out;
}

#hero h1 {
  font-size : 40px;
  margin-bottom: 20px;
}

#hero p {
  font-size: 18px;
  margin-bottom: 40px;
}

.btn {
  display: inline-block;
  background-color: #ff6600;
  color: #fff;
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 4px;
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.btn:hover {
  background-color: #cc5500;
}

section {
  padding: 50px 0;
  animation: fadeIn 1s ease-in-out;
  text-align: center;
}

section h2 {
  font-size: 36px;
  margin-bottom: 20px;
}

section p {
  font-size: 18px;
  margin-bottom: 30px;
  line-height: 1.6;
}

#servise {
  background-color: #fff;
  padding: 50px 0;
  animation: fadeIn 1s ease-in-out;
}

.servise {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  padding: 20px;
  border-radius: 4px;
  margin: 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  animation: fadeIn 1s ease-in-out;
}

.servise h3 {
  font-size: 24px;
  margin-bottom: 10px;
}

.servise p {
  font-size: 16px;
  line-heigth: 1.6;
}

#ac {
  padding: 50px 0;
  background-color: #f9f9f9;
  animation: fadeIn 1s ease-in-out;
}

#ac h2 {
  font-size: 24px;
  margin-bottom: 20px;
}

#ac p {
  font-size: 16px;
  margin-bottom: 30px;
  line-height: 1.6;
}

.acc, .accc {
  padding: 20px;
  margin: 20px;
  background-color: #fff;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  animation: fadeIn 1s ease-in-out;
  display: inline-block;
  justify-content: center;
}

.acc h3, .accc h3 {
  font-size: 20px;
  margin-bottom: 10px;
}

.acc p, .accc p {
  font-size: 16px;
  line-height: 1.6;
}

footer {
  background-color: #333;
  color: #fff;
  padding: 20px 0;
  text-align: center;
  animation: fadeIn 1s ease-in-out;
}

footer p {
  font-size: 16px;
}
  